<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.pgy.ups.account.business.dao.mapper.BusinessDataDao">

	<sql id="businessDataColumn">
		id,
		fromSystem,
		proofreadType,
		DATE_FORMAT(proofreadDate
		,'%Y-%m-%d') as proofreadDate,
		businessOrderNum,
		exchangeAmount,
		businessOrderStatuts,
		borrowNum,
		channel,
		orderCreateTime
	</sql>


	<insert id="batchInsert" parameterType="java.util.List">
		INSERT INTO ua_t_account_bussiness_proofread VALUES
		<foreach collection="list" item="item" separator=",">
			(
			null,
			#{item.channel},
			#{item.fromSystem},
			#{item.proofreadType},
			#{item.proofreadDate},
			#{item.businessOrderNum},
			#{item.exchangeAmount},
			#{item.businessOrderStatuts},
			#{item.borrowNum},
			#{item.orderCreateTime}
			)
		</foreach>
	</insert>

	<delete id="deleteBusinessDate">
		DELETE FROM ua_t_account_bussiness_proofread
		<where>
			<choose>
				<when test="fromSystem !=null and fromSystem!=''">
					fromSystem=#{fromSystem}
				</when>
				<otherwise>
					1=2
				</otherwise>
			</choose>
			<choose>
				<when test="proofreadType!=null and proofreadType!=''">
					AND proofreadType=#{proofreadType}
				</when>
				<otherwise>
					AND 1=2
				</otherwise>
			</choose>
			<choose>
				<when test="proofreadDate != null and proofreadDate!=''">
					AND proofreadDate=#{proofreadDate}
				</when>
				<otherwise>
					AND 1=2
				</otherwise>
			</choose>
			<choose>
				<when test="channel != null and channel!=''">
					AND channel=#{channel}
				</when>
				<otherwise>
					AND 1=2
				</otherwise>
			</choose>
		</where>
	</delete>

    <select id="queryBusinessDateList" resultType="BusinessProofreadModel">
	      SELECT
	         <include refid="businessDataColumn"/>
	      FROM 
	          ua_t_account_bussiness_proofread
	      <where>
	          <if test="fromSystem!=null and fromSystem!=''">
	               fromSystem=#{fromSystem}
	          </if>
	          <if test="proofreadType!=null and proofreadType!=''">
	              AND fromSystem=#{proofreadType}
	          </if>
	          <if test="proofreadDate!=null and proofreadDate!=''">
	              AND fromSystem=#{proofreadDate}
	          </if>
	      </where>         
    </select>

</mapper>